# Node.js
node_modules/
dist/
build/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Редакторы
.vscode/
.idea/
*.swp

# Операционная система
.DS_Store
Thumbs.db

# Переменные окружения
.env
.env.local